@import-normalize; /* bring in normalize.css styles */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 52px;
}
@media screen and (min-width: 768px) {
  html {
    scroll-padding-top: 76px;
  }
}
@media screen and (min-width: 1440px) {
  html {
    scroll-padding-top: 72px;
  }
}

:root {
  /* Colors */
  --primary: #b68867;
  --primary-light: #c5a085;
  --primary-20: rgba(182, 136, 103, 0.2);
  --black: #121214;
  --white: #fefeff;
  --white-05: #1e1e20;
  --white-10: #39393b;
  --white-20: #4f4f51;
  --white-50: #919192;
  --white-70: #bdbdbe;
  --white-90: #e9e9e9;

  /* Animation */
  --transition-dur-and-func: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--black, #2f2f37);
  color: var(--white, #fefeff);
  font-style: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

main,
footer {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}

img {
  padding: 0;
  margin: 0;
}

.hidden-element {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  min-width: 320px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}

/* MOBILE */
@media screen and (min-width: 393px) {
  .container {
    min-width: 393px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1544px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* FULL */
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding-left: 228px;
    padding-right: 228px;
  }
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--white-05, #1e1e20);
  height: 52px;
}
.header .header-container {
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  z-index: 2;
}
.header-container__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
}
.header .header-container .burger-btn {
  display: flex;
  padding: 10px;
}
.header .header-container .header-logo,
.header .header-container .header-logo img {
  width: 150px;
  height: 18px;
}
.header .header-container .header-menu {
  visibility: hidden;
  align-items: center;
  flex-grow: 1;
  gap: 24px;
}
.header .header-container .header-menu {
  width: 1px;
  height: 1px;
}
.header .header-container .header-menu a {
  color: var(--white, #fefeff);
  position: relative;
  display: inline-block;
}
.header-menu .header-menu__contact {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--white-70, #bdbdbe);
  font-size: 16px;
  line-height: normal;
}
.header .header-menu a.header-menu__contact-phone,
.header .header-menu button.header-menu__contact-signin,
.burger-menu .burger-container a.header-menu__contact-phone,
.burger-menu .burger-container button.header-menu__contact-signin {
  color: var(--white-70, #bdbdbe);
  font-size: 16px;
  padding: 8px 16px;
  line-height: normal;
  padding-left: 44px;
  position: relative;
}
.header .header-menu a.header-menu__contact-phone::before,
.header .header-menu button.header-menu__contact-signin::before,
.burger-menu .burger-container a.header-menu__contact-phone::before,
.burger-menu .burger-container button.header-menu__contact-signin::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  width: 24px;
  height: 24px;
  background-image: url(../assets/icons/phone.svg);
}
.header .header-menu button.header-menu__contact-signin::before,
.burger-menu .burger-container button.header-menu__contact-signin::before {
  background-image: url(../assets/icons/log-in-02.svg);
}
.header .header-container .header-menu a::after,
.header .header-container .header-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--white, #fefeff);
  transition: var(--transition-dur-and-func);
}
.header .header-container .header-menu a:hover::after,
.header .header-container .header-menu a:focus::after {
  width: 100%;
}

.burger-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background: #2d2d2f;
  transition: opacity 600ms ease-in-out, visibility 600ms ease-in-out;
  padding-top: 76px;
  padding-bottom: 36px;
}
.burger-menu .burger-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.burger-menu .nav-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.burger-menu .nav-menu li {
  padding: 7.5px 10px 7.5px 8px;
}
.burger-menu .nav-menu a {
  color: var(--white-70, #bdbdbe);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.burger-menu .burger-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px 0;
}
.burger-menu .burger-container > div .header-menu__contact-signin {
  order: 0;
  width: 100%;
  padding: 18px 24px;
  border-radius: 8px;
  color: var(--white, #fefeff);
  background: var(--primary, #b68867);
}
.burger-menu .burger-container button.header-menu__contact-signin::before {
  background-image: url(../assets/icons/log-in-02.svg);
  left: calc(50% + 32px);
  filter: saturate(0%) brightness(1000%);
}
.burger-menu .burger-container > div .dropdown-button {
  order: 2;
  width: fit-content;
  color: var(--white-50, #919192);
  margin-left: auto;
}
.burger-menu .burger-container > div .header-menu__contact-phone {
  order: 1;
}
.burger-menu.active {
  opacity: 1;
  visibility: visible;
  z-index: 998;
  overflow: scroll;
}

.burger-icon path {
  transition: var(--transition-dur-and-func);
}
.burger-icon.active #line0 {
  opacity: 0;
}
.burger-icon.active #line1 {
  transform: rotate(45deg) translate(-0.5px, 8px);
  transform-origin: center;
}
.burger-icon.active #line2 {
  transform: rotate(-45deg) translate(0px, -8.5px);
  transform-origin: center;
}
.dropdown-button {
  position: relative;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  text-transform: uppercase;
  background-color: transparent;
  padding-right: 48px;
}
.dropdown-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/chevron-down-gray.svg");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .header {
    height: 76px;
  }
  .header .header-container {
    padding: 16px;
  }
  .header .header-container .header-logo,
  .header .header-container .header-logo img {
    width: 151.2px;
    height: 18px;
  }
  .burger-menu {
    padding-top: 108px;
    width: 420px;
    left: unset;
  }
  .header .header-container .header-menu li:last-child div a:hover::after {
    display: none;
  }
  .header .header-menu a.header-menu__contact-phone {
    visibility: visible;
    position: absolute;
    top: 50%;
    right: 68px;
    transform: translate(0, -50%);
  }
}

@media screen and (min-width: 1440px) {
  .header {
    height: 72px;
  }
  .header .header-container {
    padding: 16px 40px;
  }
  .header-container__nav {
    gap: 84px;
  }
  .header .header-container .burger-btn {
    display: none;
  }
  .header .header-container .header-logo,
  .header .header-container .header-logo img {
    width: 126px;
    height: 15px;
  }
  .header .header-container .header-menu {
    display: flex;
    visibility: visible;
    width: unset;
    height: unset;
  }
  .header .header-menu a.header-menu__contact-phone {
    position: relative;
    transform: unset;
    top: unset;
    right: unset;
  }
  .header .header-container .header-menu li:last-child {
    margin-left: auto;
  }
  .header .header-container .header-menu li:last-child div {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .burger-menu {
    display: none;
  }
}

/* breadcrumbs-section */

.breadcrumbs-section {
  display: none;
}
@media screen and (min-width: 1440px) {
  .breadcrumbs-section {
    display: block;
    padding-top: 136px;
  }
  .breadcrumbs-section__wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--white-50, #919192);
    line-height: 1.5;
  }
  .breadcrumbs-section__wrapper a {
    position: relative;
    padding-right: 20px;
  }
  .breadcrumbs-section__wrapper a::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url(../assets/icons/chevron-right.svg);
    background-repeat: no-repeat;
  }
  .breadcrumbs-section__wrapper p {
    color: var(--white-90, #e9e9e9);
  }
}

/* main-section */
.main-section {
  padding-top: 52px;
  padding-bottom: 80px;
}
.step-content {
  display: none;
}
.step-content.active {
  display: block;
}
.first-step {
  width: 100%;
}
.first-step .wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 32px;
}
.first-step__image {
  position: relative;
  width: 100%;
  aspect-ratio: 361/242;
  padding-top: 40px;
  padding-bottom: 24px;
}
.first-step__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(40px);
  border-radius: 361px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: cover;
  z-index: 1;
}
.first-step__image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  filter: blur(40px);
  border-radius: 361px;
  background: var(--black, #121214);
  background-size: cover;
  z-index: 2;
}
.first-step__image-wrapper {
  width: 100%;
  aspect-ratio: 361/188;
  background-image: url(../assets/images/mob-step-car.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
  z-index: 3;
}
.first-step .first-step__info {
  position: relative;
  z-index: 3;
}
.first-step .first-step__info .first-step__info-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.first-step .first-step__info-price {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}
.first-step .first-step__info-pricelist {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}
.first-step .first-step__info-pricelist h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
}
.first-step .first-step__info-pricelist ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.first-step .first-step__info-pricelist ul li {
  font-size: 14px;
  line-height: 1.4;
  padding-left: 24px;
  position: relative;
}
.first-step .first-step__info-pricelist ul li::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url(../assets/icons/check-circle-broken.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.first-step__info-featurelist {
  display: flex;
  flex-wrap: wrap;
  width: 302px;
  gap: 4px 8px;
}
.first-step__info-featurelist li {
  position: relative;
  display: flex;
  width: calc((100% - 8px) / 2);
  padding: 4px 0px;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 1.4;
  padding-left: 24px;
}
.first-step__info-featurelist li::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url(../assets/icons/check-circle-broken.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.first-step__info-featurelist li.doors::after {
  background-image: url(../assets/icons/icon-car-doors.svg);
}
.first-step__info-featurelist li.suitcase::after {
  background-image: url(../assets/icons/luggage-01.svg);
}
.first-step__info-featurelist li.manual::after {
  background-image: url(../assets/icons/tabler_manual-gearbox.svg);
}
.first-step__info-featurelist li.passengers::after {
  background-image: url(../assets/icons/users-01.svg);
}
.accent-btn {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--primary, #b68867);
  transition: var(--transition-dur-and-func);
}
.accent-btn:hover {
  background: rgba(182, 136, 103, 0.7);
}
.accent-btn:focus {
  background: #b68867;
}
.accent-btn:disabled {
  background: rgba(182, 136, 103, 0.2);
}

@media screen and (min-width: 768px) {
  .main-section {
    padding-top: 76px;
  }
  .first-step .wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    padding-top: 32px;
    margin-bottom: 40px;
  }
  .first-step__image {
    width: 50%;
  }
  .first-step__image::before {
    border-radius: 353px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.35) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .first-step__image::after {
    border-radius: 339px;
  }
  .first-step__image-wrapper {
    aspect-ratio: 344/187;
    background-image: url(../assets/images/tab-step-car.webp);
  }
  .first-step .first-step__info .first-step__info-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .first-step .first-step__info-price {
    margin-bottom: 32px;
  }
  .first-step .first-step__info-pricelist {
    gap: 16px;
    margin-bottom: 32px;
  }
  .first-step .first-step__info-pricelist h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }
  .first-step .first-step__info-pricelist ul {
    gap: 8px;
  }
  .first-step .first-step__info-pricelist ul li {
    font-weight: 300;
    line-height: normal;
  }
  .accent-btn {
    width: 197px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .main-section {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-top: 40px;
    padding-bottom: 120px;
  }
  .main-section .container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .step-content {
    display: block;
  }
  .main-section .main-section__inner {
    display: flex;
    max-width: 968px;
    padding: 48px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-radius: 16px;
    background: var(--white-05, #1e1e20);
  }
  .first-step .wrapper {
    gap: 60px;
    padding-top: 0;
    margin-bottom: 0;
  }
  .first-step__image::before {
    border-radius: 461px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.35) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .first-step__image::after {
    border-radius: 443px;
  }
  .first-step__image-wrapper {
    aspect-ratio: 460/249;
    background-image: url(../assets/images/desc-step-car.webp);
  }
  .first-step .first-step__info .first-step__info-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .first-step .first-step__info-price {
    font-weight: 400;
    margin-bottom: 32px;
  }
  .first-step .first-step__info-pricelist {
    gap: 16px;
    margin-bottom: 32px;
  }
  .first-step .first-step__info-pricelist h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }
  .first-step .first-step__info-pricelist ul {
    gap: 8px;
  }
  .first-step .first-step__info-pricelist ul li {
    font-weight: 300;
    line-height: normal;
  }
  .first-step .first-step__info .first-step__info-title {
    font-size: 32px;
  }
  .first-step .first-step__info-price {
    font-size: 24px;
  }
  .proceed-btn {
    display: none;
  }
}

/* contactus-section */
.contactus-section {
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba(18, 18, 20, 0.3) 0%,
      rgba(18, 18, 20, 0.3) 100%
    ),
    url(../assets/images/contact-us-bg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.contactus-section .contactus-section__container {
  display: flex;
  padding: 32px 32px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.contactus-section__avatars {
  display: flex;
  align-items: center;
}
.contactus-section__avatars li {
  position: relative;
}
.contactus-section__avatars li:not(:last-child) {
  margin-right: -13px;
  z-index: 1;
}
.contactus-section__avatars li:first-child {
  z-index: 2;
}
.contactus-section__avatars li:last-child {
  z-index: 0;
}
.contactus-section .contactus-section__text {
  font-size: 16px;
  line-height: normal;
  max-width: 275px;
}
.contactus-section .contactus-section__text p:first-child {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}
.contactus-section .accent-btn {
  width: 140px;
  height: 44px;
  font-weight: 600;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .contactus-section .contactus-section__container {
    align-items: flex-start;
    padding: 32px 0 40px;
  }
  .contactus-section .contactus-section__text {
    max-width: 457px;
  }
}

@media screen and (min-width: 1440px) {
  .contactus-section .contactus-section__container {
    padding: 32px 32px 40px;
  }
}

/* footer */
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.footer .footer__top {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer .footer__top-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--white-50, #919192);
  font-size: 14px;
  line-height: 1.4;
}
.footer__botom {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 32px;
  border-top: 1px solid var(--white-20, #4f4f51);
  color: var(--white-50, #919192);
  font-size: 14px;
  line-height: 1.4;
}
.footer__botom ul {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer__top-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer__top-form h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
.footer__top-form form {
  display: flex;
  gap: 16px;
  width: 100%;
}
.footer__top-form form input {
  display: flex;
  height: 48px;
  padding: 12px 14px;
  flex-grow: 1;
  align-items: center;
  gap: var(--spacing-md, 8px);
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--white-20, #4f4f51);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.footer__top-form form input::placeholder {
  color: var(--white-50, #919192);
  font-size: 14px;
  line-height: 1.4;
}
.footer__top-form form button {
  display: flex;
  height: 44px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.submit-btn {
  background: var(--primary-20, rgba(182, 136, 103, 0.2));
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 48px;
  }
  .footer .container {
    gap: 64px;
  }
  .footer .footer__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
  .footer .footer__top-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .footer__botom {
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.5;
  }
  .footer__top-form form {
    min-width: 390px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__top-form form {
    min-width: 460px;
  }
}

/* second-step */
.second-step .second-step__progressbar__wrapper {
  display: flex;
  padding: 24px 0 16px;
  margin-right: -16px;
  margin-left: -16px;
  flex-direction: column;
  gap: 24px;
  border-top: 1px solid var(--white-20, #4f4f51);
  background: var(--white-05, #1e1e20);
}
.second-step .second-step__progressbar {
  display: flex;
  color: var(--white-50, #919192);
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
}
.second-step .second-step__progressbar li {
  width: 25%;
  padding-top: 31px;
  position: relative;
}
.second-step .second-step__progressbar li:first-child::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  top: 12px;
  right: 0;
  transform: translate(0, -50%);
  background-color: #b68867;
}
.second-step
  .second-step__progressbar
  li:not(:first-child):not(:last-child)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4f4f51;
}
.second-step .second-step__progressbar li:last-child::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  top: 12px;
  left: 0;
  transform: translate(0, -50%);
  background-color: #4f4f51;
}
.second-step .second-step__progressbar li:first-child::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../assets/icons/indicators.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}
.second-step .second-step__progressbar li:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4f4f51;
  border-radius: 50%;
  z-index: 2;
}
.second-step__option {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
}
.second-step__option-text p:first-child {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  margin-bottom: 4px;
}
.second-step__option-text p:nth-child(2) {
  color: var(--white-50, #919192);
  font-size: 14px;
  line-height: 1.4;
}
.second-step__option-text p:last-child {
  font-size: 14px;
  line-height: 1.4;
}
.second-step__content {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.second-step__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}
.second-step__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 8px;
}
.second-step__list li {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  min-height: 108px;
  width: calc((100% - 8px) / 2);
  border-radius: 8px;
  background: var(--white-10, #39393b);
}
.second-step__list li.active {
  background: var(--primary, #b68867);
}
.second-step__list li div {
  display: flex;
  max-width: calc(100% - 33px);
  flex-direction: column;
  padding: 8px 8px 8px 16px;
  align-items: flex-start;
  justify-content: space-between;
}
.second-step__list button {
  display: flex;
  width: 33px;
  height: 100%;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  background: var(--white-20, #4f4f51);
  position: relative;
  transition: var(--transition-dur-and-func);
}
.second-step__list li.active button {
  background: var(--primary-light, #c5a085);
}
.second-step__list button::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../assets/icons/plus.svg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.second-step__list li.active button::before {
  background-image: url(../assets/icons/minus.svg);
}
.second-step__list div p {
  padding-top: 28px;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
}
.second-step__list div p::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-image: url(../assets/icons/check-circle-broken.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.second-step__list li.active div p::before {
  filter: saturate(0%) brightness(1000%);
}
.second-step__list div p.infinity::before {
  background-image: url(../assets/icons/infinity.svg);
}
.second-step__list div p.globe::before {
  background-image: url(../assets/icons/globe-05.svg);
}
.second-step__list div p.tank::before {
  background-image: url(../assets/icons/Group.svg);
}
.second-step__list div p.baby-seat::before {
  background-image: url(../assets/icons/icon-baby-seat.svg);
}
.second-step__list div p.navigation-pointer::before {
  background-image: url(../assets/icons/navigation-pointer-01.svg);
}
.second-step__list div p.wifi::before {
  background-image: url(../assets/icons/wifi.svg);
}
.second-step__list div p.additional-driver::before {
  background-image: url(../assets/icons/icon-additional-driver.svg);
}
.second-step__list div p.headphones::before {
  background-image: url(../assets/icons/headphones-01.svg);
}
.second-step__list div span {
  font-weight: 600;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .second-step .second-step__progressbar__wrapper {
    padding: 16px 0;
    margin-right: -32px;
    margin-left: -32px;
    border-bottom: 1px solid var(--white-20, #4f4f51);
  }
  .second-step .second-step__progressbar {
    font-weight: 400;
    line-height: normal;
  }
  .second-step .second-step__progressbar li {
    padding-top: 36px;
  }
  .second-step__option {
    gap: 24px;
    padding: 0 32px;
  }
  .second-step__title {
    margin-bottom: 32px;
  }
  .second-step__list {
    gap: 24px;
  }
  .second-step__list li {
    min-height: 77px;
    width: calc((100% - 24px) / 2);
  }
  .second-step__list li div {
    max-width: calc(100% - 44px);
    padding: 8px 16px 8px 8px;
  }
  .second-step__list button {
    width: 44px;
  }
  .second-step__list div {
    position: relative;
  }
  .second-step__list div::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 40px;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 61px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .second-step__list div p {
    padding-top: 0;
    font-size: 16px;
    line-height: normal;
    padding-left: 48px;
  }
  .second-step__list div p::before {
    width: 24px;
    height: 24px;
  }
  .second-step__list div span {
    padding-left: 48px;
    font-size: 20px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1440px) {
  .second-step {
    width: 100%;
  }
  .second-step .second-step__progressbar__wrapper {
    display: none;
  }
  .second-step__content {
    padding-top: 16px;
    padding-bottom: 40px;
    border-top: 1px solid var(--white-20, #4f4f51);
  }
  .second-step__title {
    font-size: 24px;
  }
  .second-step__list {
    gap: 24px 16px;
  }
  .second-step__list li {
    width: calc((100% - (16px * 2)) / 3);
  }
  .second-step__list li div {
    max-width: calc(100% - 34px);
  }
  .second-step__list button {
    width: 34px;
  }
}

/* third-step */
.third-step .third-step__progressbar__wrapper {
  display: flex;
  padding: 24px 0 16px;
  margin-right: -16px;
  margin-left: -16px;
  flex-direction: column;
  gap: 24px;
  border-top: 1px solid var(--white-20, #4f4f51);
  background: var(--white-05, #1e1e20);
}
.third-step .third-step__progressbar {
  display: flex;
  color: var(--white-50, #919192);
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
}
.third-step .third-step__progressbar li {
  width: 25%;
  padding-top: 31px;
  position: relative;
}
.third-step .third-step__progressbar li:first-child::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  top: 12px;
  right: 0;
  transform: translate(0, -50%);
  background-color: #b68867;
}
.third-step .third-step__progressbar li:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b68867;
}
.third-step
  .third-step__progressbar
  li:not(:first-child):not(:nth-child(2)):not(:last-child)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4f4f51;
}
.third-step .third-step__progressbar li:first-child:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../assets/icons/Indicators-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}
.third-step .third-step__progressbar li:last-child::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  top: 12px;
  left: 0;
  transform: translate(0, -50%);
  background-color: #4f4f51;
}
.third-step .third-step__progressbar li:nth-child(2):before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../assets/icons/indicators.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}
.third-step
  .third-step__progressbar
  li:not(:first-child):not(:nth-child(2))::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4f4f51;
  border-radius: 50%;
  z-index: 2;
}
.third-step__option {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
}
.third-step__option-text p:first-child {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  margin-bottom: 4px;
}
.third-step__option-text p:nth-child(2) {
  color: var(--white-50, #919192);
  font-size: 14px;
  line-height: 1.4;
}
.third-step__option-text p:last-child {
  font-size: 14px;
  line-height: 1.4;
}
.third-step__content {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.third-step__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}
.third-step__list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}
.third-step__list > li {
  width: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
  border: 2px solid transparent;
  background: var(--white-5, rgba(255, 255, 255, 0.05));
}
.third-step__list > li.active {
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-image: url(../assets/images/BG.webp),
    linear-gradient(150deg, #b68867 6.05%, #bc8473 88.69%);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.third-step__list .third-step__item-title {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
  text-align: center;
}
.third-step__list .third-step__item-price {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: capitalize;
}
.third-step__list .third-step__item-subtitle {
  width: 100%;
  text-align: left;
}
.third-step__list .third-step__item-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.third-step__list .third-step__item-list > li {
  font-size: 14px;
  line-height: 1.4;
  padding-left: 24px;
  position: relative;
}
.third-step__list .third-step__item-list > li::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../assets/icons/check-circle-broken.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.third-step__list .third-step__item-list > li.red-sign::before {
  background-image: url(../assets/icons/alert-circle.svg);
}
.third-step__list .third-step__item-list > li.green-sign::before {
  background-image: url(../assets/icons/green-circle-broken.svg);
}
.third-step__item-note {
  color: var(--white-30, #656566);
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .third-step .third-step__progressbar__wrapper {
    padding: 16px 0;
    margin-right: -32px;
    margin-left: -32px;
    border-bottom: 1px solid var(--white-20, #4f4f51);
  }
  .third-step .third-step__progressbar {
    font-weight: 400;
    line-height: normal;
  }
  .third-step .third-step__progressbar li {
    padding-top: 36px;
  }
  .third-step__option {
    gap: 24px;
    padding: 0 32px;
  }
  .third-step__title {
    margin-bottom: 32px;
  }
  .third-step__list {
    flex-direction: row;
    gap: 16px;
  }
  .third-step__list > li {
    width: 100%;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }
}

@media screen and (min-width: 1440px) {
  .third-step {
    width: 100%;
  }
  .third-step .third-step__progressbar__wrapper {
    display: none;
  }
  .third-step__content {
    padding-top: 16px;
    padding-bottom: 0;
    border-top: 1px solid var(--white-20, #4f4f51);
  }
  .third-step__title {
    font-size: 24px;
  }
  .third-step__list {
    gap: 16px;
  }
  .third-step__list > li {
    padding: 24px;
  }
  .third-step__list .third-step__item-price {
    font-size: 32px;
    font-weight: 600;
  }
}

/* fourth-step */
.fourth-step .fourth-step__progressbar {
  display: flex;
  padding: 24px 0 16px;
  color: var(--white-50, #919192);
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
}
.fourth-step .fourth-step__progressbar li {
  width: 25%;
  padding-top: 31px;
  position: relative;
}
.fourth-step .fourth-step__progressbar li:first-child::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  top: 12px;
  right: 0;
  transform: translate(0, -50%);
  background-color: #b68867;
}
.fourth-step
  .fourth-step__progressbar
  li:not(:first-child):not(:last-child)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b68867;
}
.fourth-step .fourth-step__progressbar li:last-child::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  top: 12px;
  left: 0;
  transform: translate(0, -50%);
  background-color: #4f4f51;
}
.fourth-step .fourth-step__progressbar li:first-child:before,
.fourth-step .fourth-step__progressbar li:nth-child(2):before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../assets/icons/Indicators-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}
.fourth-step .fourth-step__progressbar li:nth-child(3):before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../assets/icons/indicators.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}
.fourth-step .fourth-step__progressbar li:last-child::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4f4f51;
  border-radius: 50%;
  z-index: 2;
}
.fourth-step__content {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.fourth-step__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}
.fourth-step__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}
.fourth-step__form .fourth-step__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}
.fourth-step__form .fourth-step__wrapper label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.fourth-step__form .fourth-step__wrapper label span {
  width: fit-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  padding-right: 7px;
  position: relative;
}
.fourth-step__form .fourth-step__wrapper label.required span::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 100%;
  right: 0;
  top: 0;
  background-image: url(../assets/icons/Asterisk.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.fourth-step__form .fourth-step__wrapper label input {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 12px 14px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--white-20, #4f4f51);
  box-shadow: 0px 1px 2px 0px
    var(--Colors-Effects-Shadows-shadow-xs, rgba(16, 24, 40, 0.05));
  color: var(--white-80, #d3d3d3);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.fourth-step__form .fourth-step__wrapper label#phone-label input {
  padding-left: 95px;
}
.fourth-step__form .fourth-step__wrapper label#phone-label {
  position: relative;
}
.fourth-step__form .fourth-step__wrapper label#phone-label::before {
  position: absolute;
  content: "US";
  padding-top: 2px;
  width: 47px;
  height: 24px;
  color: var(--white-80, #d3d3d3);
  top: 50%;
  left: 28px;
  background-image: url("../assets/icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px 20px;
}
.fourth-step__form .fourth-step__wrapper label input::placeholder {
  overflow: hidden;
  color: var(--white-50, #919192);
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.fourth-step__result {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.04);
  padding: 16px;
}
.fourth-step__result > ul {
  display: flex;
  flex-direction: column;
  gap: 8.5px;
}
.fourth-step__result > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fourth-step__result > ul > li > p {
  font-size: 14px;
  line-height: 1.4;
}
.fourth-step__result > ul > li > span {
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}
.fourth-step__result .result {
  padding-top: 8px;
  border-top: 1px solid var(--white-20, #4f4f51);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.fourth-step__buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}
.fourth-step .checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 32px;
  position: relative;
}
.fourth-step .checkbox-label input[type="checkbox"] {
  display: none;
}
.fourth-step .checkbox-label span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--Colors-Border-border-disabled, #d0d5dd);
  border-radius: 6px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.fourth-step .checkbox-label input[type="checkbox"]:checked + span::before {
  background: var(--primary, #b68867);
  border: 1px solid var(--primary, #b68867);
}
.fourth-step .checkbox-label input[type="checkbox"]:checked + span::after {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translate(0, -50%);
  content: "";
  width: 14px;
  height: 14px;
  background-image: url(../assets/icons/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .fourth-step .fourth-step__progressbar {
    font-weight: 400;
    line-height: normal;
    padding: 16px 0 24px;
    margin-right: -32px;
    margin-left: -32px;
    border-top: 1px solid var(--white-20, #4f4f51);
    border-bottom: 1px solid var(--white-20, #4f4f51);
    background: var(--white-05, #1e1e20);
  }
  .fourth-step .fourth-stepp__progressbar li {
    padding-top: 36px;
  }
  .fourth-step__title {
    margin-bottom: 32px;
  }
  .fourth-step__buttons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .fourth-step__buttons button {
    margin: 0;
  }
  .fourth-step__form {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
  }
  .fourth-step__form .fourth-step__wrapper {
    order: 0;
    width: calc((100% - 32px) / 2);
  }
  .fourth-step__result {
    margin-top: -62px;
    height: fit-content;
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .fourth-step {
    min-width: 416px;
  }
  .fourth-step .fourth-step__progressbar {
    display: none;
  }
  .fourth-step__content {
    padding: 0;
  }
  .fourth-step__title {
    font-size: 24px;
  }
  .fourth-step__form {
    display: flex;
    flex-direction: column;
  }
  .fourth-step__form .fourth-step__wrapper {
    order: 0;
    width: 100%;
  }
  .fourth-step__result {
    margin-top: 0;
    width: 100%;
  }
}
